*{
    margin: 0;
    padding: 0;
    /* font-size: 16px; */
}

a{
    text-decoration: none;
    color: #000;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.nav-bar {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.nav-bar a {
    font-size: 24px;
    font-weight: 600;
}